<html>
<head>
<link rel="stylesheet" href="/static/css/cn.css"> 
</head>
<body>
<script src="/static/js/fin.js"></script>
<div class="container" id="sss"><h1>Plug & Power</h1>
<span>Station Name : </span>
<p>{{a}}</p>
<span>Location : </span>
<p>{{b}}</p>
<span>Port Type: </span>
<p>{{c}}</p>
<span>Date : </span>
<p>{{d}}</p>
<span>Time <label>(24HRS)</label>: </span>
<p>{{e}}</p>
<span>Required Time : </span>
<p style="width:50%;">{{f}}hrs</p>
<span> Cost of charge: </span>
<p>{{cost}}</p>
<span> Slot Number: </span>
<p>{{h}}</p>
<a href="part"><button class="btn">Back</button></a><a href="est"><button class="btn" style="margin-left : 190px;">Confirm</button></a>
</div>
</body>
</html>