<html>
<head>
<link rel="stylesheet" href="/static/css/gets.css">
</head>
<body>
<div class="container">
<p class="text1">Welcome to Plug & Power</p>
<p class="text2">Experience the Electric Revolution  Plug into Convenience, Power Up with Our EV Charging App, and Accelerate Your Journey!</p>
<p class="text3">Your One-Stop Solution for Electric Vehicle Charging</p>
<a href="login"><button class="btn">Login</button></a><a href="register"><button class="btn1">Register</button></a>
</div>
</body>
</html>
