<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reservation</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Sen&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/header-footer.css" />
    <link rel="stylesheet" href="/static/css/reservation.css" />
    <link rel="stylesheet" href="/static/css/general.css" />
  </head>
  <body>
    <div class="top">
      <a href="home"><button class="back">&larr;</button></a>
      <span class="logo">Plug & Power</span>
      <a href="view"><button class="b2">View All Station</button></a>
      <div class="search-container">
       <form action="search" method="POST"><input
          type="text"
          placeholder="View Station"
          class="search-view-station"
          name="see"
        />
        <a href="5678"><button class="submit-bnt">Submit</button></a></form>
      </div>
    </div>
    <div class="trip-planner-div1">
      <div class="trip-planner-div1-container">
        <h1>
          Never Wait, Always Charge: <span>Reserve Your EV Charging Spot</span>
        </h1>
        <p>
          Tired of finding charging stations occupied? Say goodbye to
          frustration with our reserved EV charging spots. Enjoy stress-free
          charging through our user-friendly platform. Seamlessly power up your
          electric vehicle with confidence.
        </p>
        <a href="#Discover_now"><button>DISCOVER NOW</button></a>
      </div>
    </div>
    <div class="trip-planner-div2">
      <div class="trip-planner-div2-container1">
        <h1 id="Discover_now" style="transition: 0.5s;"><span>Never Wait </span>for a Charge Again :</h1>
        <p>
          Reserve your EV charging session quickly and easily Our convenient
          online reservation system lets you schedule your charging time Secure
          your spot at our state-of-the-art charging stations Charge your
          electric vehicle hassle-free by booking in advance Know your charge
          time in advance - no more waiting in line Join the green revolution -
          reserve your clean energy charge now
        </p>
      </div>
      <div class="trip-planner-div2-container2">
        <img
          src="static\reservation-pic4.jpg"
          alt="explore"
          height="500px"
          width="500px"
        />
      </div>
    </div>
    <div class="trip-planner-div3">
      <div class="trip-planner-div2-container2">
        <img
          src="static\reservation-pic2.jpg"
          alt="explore"
          height="500px"
          width="500px"
        />
      </div>
      <div class="trip-planner-div2-container1">
        <h1>
          Secure Your Spot at<span> Your Favorite EV Charging Station</span>
        </h1>
        <p>
          Fed up with arriving at your favorite EV charging station only to find
          it full? Discover the solution: our "Secure Your Spot" service.
          Reserve your preferred charging station hassle-free and never wait
          again. Your reserved spot awaits!
        </p>
        <form class="from-to-form">
          <a href="fav1"><input type="button" value="Book your Favorite" class="bnt-explore" /></a>
        </form>
      </div>
    </div>
    <div class="trip-planner-div2">
      <div class="trip-planner-div2-container1">
        <h1>Schedule Your EV Charge for <span> Ultimate Convenience</span></h1>
        <p>
          Introducing "Schedule Your EV Charge" – the answer to seamless EV
          charging. Embrace a well-organized charging routine and take control
          of your EV's power. Experience hassle-free ownership today!
        </p>
        <form class="from-to-form">
          <a href="view"><input
            type="button"
            value="Schedule your Charge "
            class="bnt-explore"
          /></a>
        </form>
      </div>
      <div class="trip-planner-div2-container2">
        <img
          src="static\reservation-pic3.jpg"
          alt="explore"
          height="500px"
          width="500px"
        />
      </div>
    </div>

    <div class="div6">
      <div class="div6-section1">
        <div class="div6-section1-container">
          <div class="div6-section1-detail1">
            <h2>Stay Updated</h2>
            <input type="Email" placeholder="Email Address" />
            <button>Subscribe</button>
          </div>
          <div class="div6-section1-detail2">
            <h2>Let's Get Social</h2>
            <div class="social-media">
              <button class="facebook">
                <img src="static/facebook.png" alt="facebook" />
              </button>
              <button class="instagram">
                <img src="static/instagram.png" alt="instagram" />
              </button>
              <button class="google">
                <img src="static/google.png" alt="goggle" />
              </button>
              <button class="youtube">
                <img src="static/youtube.png" alt="youtube" />
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="div6-section2">
        <div class="div6-section2-details">
          <h2>About Us</h2>
          <p>Innovation</p>
          <p>Customer-Centric</p>
          <p>Partner</p>
          <p>Excellence</p>
        </div>
        <div class="div6-section2-details">
          <h2>Support</h2>
          <p>Contact Us</p>
          <p>Site - feedback</p>
          <p>Requirements</p>
        </div>
        <div class="div6-section2-details">
          <h2>Service</h2>
          <p>Trip Planner</p>
          <p>Station status</p>
          <p>Rewards</p>
        </div>
      </div>
      <hr />
      <div class="footer">
        <p>Copyright ©2023 All rights reserved</p>
      </div>
    </div>
  </body>
</html>
