<html>
<head>
<link rel="stylesheet" href="/static/css/mr.css">
</head>
<body>
<div class="container"><div class="head"><span class="logo">Plug & Power </span><button type="submit" class="btn">Reserved Station</button><a href="view"><button type="submit" class="btn">View All Stations</button></a><input type="text" placeholder="Search Station" class="search"></div>
<div class="container2"><img src="/static/res.jpg"></div><div class="container2a"><h2>Welcome to EV Charging Reservations</h2><li>
<ul>Reserve your EV charging session quickly and easily</ul>
<ul>Our convenient online reservation system lets you schedule your charging time</ul>
<ul>Secure your spot at our state-of-the-art charging stations</ul>
<ul>Charge your electric vehicle hassle-free by booking in advance</ul>
<ul>Know your charge time in advance - no more waiting in line</ul>
<ul>Join the green revolution - reserve your clean energy charge now</ul>
</li></div>
<div class="favorite"><p>Book Your Favorite Station</p></div><div class="favorite"style="margin-left: 50px;"><p style="font-size: 20px;">Schedule Your Charge</p></div>
<div class="favorite" style="margin-left:50px;"><p style="font-size: 20px;">Charging Session Tracking</p></div></div>
</body>
</html>